<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration   
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
 "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
     <settings>  
         <!-- changes from the defaults -->  
         <setting name="lazyLoadingEnabled" value="false" />  
     </settings>  
     <typeAliases>  
         <!--给所有实体类取别名，方便sql映射文件的使用--> 
         <package name="cn.appsys.pojo"/>
     </typeAliases> 
</configuration>  